{% extends "ConsejoBundle::layout.html.twig" %}

{% block encabezado%} Nuevo Movimiento{% endblock %}

{% block body %}
    <div id="form-area" class="form">
        <form action="{{ path('nuevo_movimiento' , {'id_resolucion' : resolucion.id}) }}" method="post">
            {{ form_rest(form) }}
            <input type="submit" value="Agregar Movimiento" />
        </form>
    
</div>

{% endblock %}
